<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Submit</title>
</head>
<body>
  <div>
    Input some info And submit them.
  </div>

  <div>
      <form method="post" action="/form" enctype="application/json">
          <input type='text' name="name" style="width: 320px;"/><br /><br />
          <textarea name="content" style="width: 320px;" rows=6></textarea><br /><br />
          <input type="submit" name="submit"/>
      </form>
  </div>
</body>
</html>

