<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    File list. 
    <br />
    To submit something, click <a href="/create">here</a>
  </div>

    
  <ul>
    {% for file in files %}
      <li>
        <div>
          <h3>{{file.name}}</h3>
          <span>status: {{file.status}}</span> | operations: <a href={% if file.status == "free" %} "/update/{{file.name}}" {% else %} "#" {% endif %}>edit</a>
          <p>{{file.update_time}} | {{file.content}}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</body>
</html>

